build/
dist/
*.egg-info/
**/__pycache__/
*.pth
*.pt
debug/*
**/.ipynb_checkpoints
**/.ipynb_checkpoints/**
**.txt
*.swp
slurm_outputs/
.vscode/
*.out
**/wandb/**
dinov2/configs/train/custom.yaml
dinov2/eval/miccai/test_checkpoints.sh
.logs/*
debug*
*.yaml
vits**
vitb**
vitg**
vitl**
__MACOSX/blood_sampels/*
dinov2/data/blood_sampels/*
*.png
figures/**
